BasedOnStyle: WebKit
IndentWidth: 4
TabWidth: 8
UseTab: Never
ColumnLimit: 110
BreakBeforeBraces: Linux
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
NamespaceIndentation: None
SortIncludes: Never
